$color-btn: #011c37;
$color-shadow: 0.2rem 0.4rem 0.4rem 0.2rem #D8D8D8;
$color-txt: #FDCB46;
$color-txt1: #3C1218; 
$color-txt3: #3D9FFA;
$color-txt4: #4C9F42;
$color-menu1: #FCDFDB;
$color-menu2: #FFDDFC;
$color-menu3: #EFEFEF;
$color-menu4: #F2FFF2;
$color-bann: #579C87;
$anim-dur: 1000ms;
$cd-box: #360000;
$form-size: 2rem;


*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	height: 100%;
}	 

body {
	box-sizing: border-box;
	background: #fff;
  text-align: center;
  margin: 0;
}


@mixin graphic-design {
	background: $color-bann;
	text-align: center;
  padding: $form-size;
  font-family: 'Montserrat', sans serif;
}  

  
@mixin box-position {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header {
  @include graphic-design;
}

footer {
  @include graphic-design;
  @include box-position;
  width: 100%;
  position: fixed;
  bottom: 0;
}
 footer a {
    color: $color-txt;
    text-decoration: none; 
  }
    
  @mixin box-position {
 }

.container {
	display: flex;
 	flex-direction: column;
  align-items: center;
	justify-content: center;
  margin-bottom: 11%;
}

.container1 {
  @include box-position;
}  

.container2 {
  @include box-position;
}

@mixin text-body {
	margin: $form-size;
	text-align: justify;
	margin: 9%;  
	border-radius: 1px;
	text-align: center;
}

@mixin text-title {
  text-align: center;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms; 
	  &:hover {
	  transform: scale(1.15);
	  }
}

.menu-btn  {
 font-size: 1rem;
 cursor: pointer;
 overflow: hidden; 
 padding: 5rem 1.3rem;
 margin: 0.9rem 0.9rem; 
 box-shadow: $color-shadow; 
}

.menu__txt { 
  width: 90%;
  height: 50px;
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
}
  
.menu :hover .menu__txt {
  transform: scale(1.8);
  transform-origin: center; 
  opacity: 0.85;
  filter: alpha(opacity=85);
  zoom: 1;
} 

@mixin gradientcolors {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.menu1 {
  color: $color-txt1;
  background-color: $color-menu1;
}


.menu__txt--colored {
  background: -webkit-linear-gradient(#C77412, #9861EF);
  @include gradientcolors;
}

.menu2 {
  background-color:$color-menu2; 
}

.menu3 {
  color: $color-txt3; 
  background-color: $color-menu3;
}

.menu__txt--green {
  background: -webkit-linear-gradient(#69B852, #C8FE94);
  @include gradientcolors;
}
.menu4 {
  background-color: $color-menu4;
}

.points {
    font-size: $form-size;
} 

.point--1 {
    animation: point1 $anim-dur backwards infinite ease-in-out alternate;
}

.point--2 {
    animation: point2 $anim-dur backwards infinite ease-in-out alternate;
 }

.point--3 {
    animation: point3 $anim-dur backwards infinite ease-in-out alternate;
}

@keyframes point1 {
  0% {
    opacity:1;
  }
  33% {
    opacity:0;    
  }  
}

@keyframes point2 {
 34% {
    opacity:1;
 }   
  65% {
    opacity:0;
 }  
}
  
@keyframes point3 {
  67% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}
  
.Prochainement {
	background: $color-bann;
	color: $color-txt; 
  cursor: pointer;
  width: 14%;  
  padding: 0.85rem 0.7rem;
  border-radius: 1rem;
	margin: $form-size;
}
  
.footer__wiggle:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

h2 {  
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms; 
	    &:hover {
		  transform: scale(1.15);
      } 
    }

.hr {  
  display : flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;

}

.menupage__title
{	
	text-align: center;
	font-size: 2em;
	background: linear-gradient(to top, #C77412 0%, #C77412 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .3s;
}

.menupage__title:hover {	
	background: 100% 100%;
}	

@mixin menupage-style
{
	margin: 9%;  
	border-radius: 1px;
	box-shadow: 4px 7px 4px 4px rgb(241, 241, 241); 
	text-align: center;
}		

@mixin menuform {
	font-family: 'Bad Script', cursive;
	color: #3C1218;
}

.menupage  {
	font-family: 'Bad Script', sans-serif;
	@include menupage-style;
	@include menuform;
}

.menu1page
{
	background: #FCDFDB;
	margin-bottom: 11%;
}

.menu2page
{
	background: #FFF5FE;
	margin-bottom: 11%;
}

.menu3page
{
	background: #EDEFEF;
	margin-bottom: 11%;
}

.menu4page
{
	background: #FDFFFD;
	margin-bottom: 11%;

}

.menu1page__title
{
	font-family: 'Devonshire', cursive;
	font-size: 2.9rem;
	color: #3C1218;
}

.menu2page__title
{
	font-family: 'Bree Serif', serif;
	font-size: 2rem;
  background: -webkit-linear-gradient(#C77412, #9861EF);
  @include gradientcolors;
}

.menu3page__title
{
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
	color: $color-txt3;
}

.menu4page__title
{
	font-family: 'Kaushan Script', cursive;
	font-size: 2rem;
	color: $color-txt4;
}


p
{
	font-size: 1.1rem;
}

li
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 0.9rem;
}

i
{
	font-size: 4rem;
}

img 
{  
  width: 54%; 
  height: auto;
  float: center;
}


.selector-for-some-widget
{
	box-sizing: content-box;
}  
 @media all and (max-width: 768px)
  {
  	header
  		{

  		}
 	  footer
 	 	{
 	 		width: 100%;		
 	 	}
  }  	

	