*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%; }

body {
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  margin: 0; }

header {
  background: #579C87;
  text-align: center;
  font-family: 'Montserrat', sans serif;
  height: 14%; }

footer {
  background: #579C87;
  text-align: center;
  font-family: 'Montserrat', sans serif;
  height: 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  width: 100%;
  position: fixed;
  bottom: 0; }

a {
  text-decoration: none; }

footer a {
  color: #FDCB46;
  font-size: 1.3rem; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%; }

.container1 {
  display: flex;
  flex-direction: row; }

.container2 {
  display: flex;
  flex-direction: row; }

.menu {
  width: 40%;
  height: 50%;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  padding: 5rem 1.3rem;
  margin: 0.9rem 0.9rem;
  box-shadow: 0.2rem 0.4rem 0.4rem 0.2rem #D8D8D8; }

.menu__txt {
  width: 50%;
  height: auto; }

.menu :hover .menu__txt {
  transform: scale(1.4);
  transform-origin: center; }

.points {
  font-size: 2rem; }

.point--1 {
  animation: point1 1000ms backwards infinite ease-in-out alternate; }

.point--2 {
  animation: point2 1000ms backwards infinite ease-in-out alternate; }

.point--3 {
  animation: point3 1000ms backwards infinite ease-in-out alternate; }

@keyframes point1 {
  0% {
    opacity: 1; }
  33% {
    opacity: 0; } }
@keyframes point2 {
  34% {
    opacity: 1; }
  65% {
    opacity: 0; } }
@keyframes point3 {
  67% {
    opacity: 1; }
  99% {
    opacity: 0; } }
.Prochainement {
  width: 200px;
  height: auto;
  background: #579C87;
  color: #FDCB46;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.85rem 0.7rem;
  border-radius: 1rem;
  margin: 2rem; }

.footer__wiggle:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, -7px, -11px); }
  20%, 80% {
    transform: translate3d(4px, 4px, 3px); }
  30%, 50%, 70% {
    transform: translate3d(-8px, -10px, -9px); }
  40%, 60% {
    transform: translate3d(8px, 6px, 9px); } }
hr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.hr h2 {
  color: inherit;
  background: linear-gradient(to top, #FDCB46 0%, #FDCB46 10%, transparent 10, 1%) no-repeat left bottom/0 100%;
  transition: background-size .3s; }

.hr h2:hover {
  background-size: 25% 100%; }

.menupage {
  box-shadow: 0.2rem 0.4rem 0.4rem 0.2rem #D8D8D8;
  border-radius: 1.6rem;
  margin: 9%; }

.menucarte {
  text-align: justify;
  font-family: 'Bad Script', cursive;
  padding: 5%; }

.menu1page {
  color: #360000;
  background: #FCDFDB; }

.menu2page {
  color: #360000;
  background: #FFDDFC; }

.menu3page {
  background: #EFEFEF; }

.menu4page {
  background: #F2FFF2; }

.menupage__title {
  text-align: center;
  font-size: 1.6rem; }

.menu1page__title {
  font-family: 'Devonshire', cursive;
  background-color: #FFDDFC;
  color: #360000; }

.menu2page__title {
  font-family: 'Bree Serif', serif;
  background: -webkit-linear-gradient(#C77412, #9861EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #FFDDFC; }

.menu3page__title {
  font-family: 'Dancing Script', cursive;
  background-color: #EFEFEF;
  color: #3D9FFA; }

.menu4page__title {
  font-family: 'Kaushan Script', cursive;
  background-color: #F2FFF2;
  color: #4C9F42; }

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem; }

.music svg {
  width: 2rem;
  background: -webkit-linear-gradient(#C77412, #9861EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #FCDFDB; }

header img {
  width: 20%;
  height: auto;
  float: center; }

.selector-for-some-widget {
  box-sizing: content-box; }

@media all and (max-width: 768px) {
  .container {
    margin-bottom: 2.5%; }

  .menupage {
    margin: 3.5%;
    padding: 1.5%;
    margin-bottom: 18%; }

  .menucarte {
    padding: 2%; }

  header img {
    width: 40%; }

  .hr {
    width: 95%; }

  footer a {
    font-size: 1.1rem; } }

/*# sourceMappingURL=P3style.css.map */
