$color-btn: #011c37;
$color-shadow: 0.2rem 0.4rem 0.4rem 0.2rem #D8D8D8;
$color-txt: #FDCB46;
$color-txt1: #360000; 
$color-txt3: #3D9FFA;
$color-txt4: #4C9F42;
$color-menu1: #FCDFDB;
$color-menu2: #FFDDFC;
$color-menu3: #EFEFEF;
$color-menu4: #F2FFF2;
$color-bann: #579C87;
$anim-dur: 1000ms;
$form-size: 2rem;
$title-size: 1.6rem;



*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	height: 100%;
}	 

body {
	box-sizing: border-box;
	background: #fff;
  text-align: center;
  margin: 0;
}


@mixin graphic-design {
	background: $color-bann;
	text-align: center;
  font-family: 'Montserrat', sans serif;
  height: 14%;
}  

  
@mixin box-position {
	display: flex;
  flex-direction: row;
}

header {
  @include graphic-design;
}

footer {
  @include graphic-design;
  @include box-position;
  justify-content: space-around;
  padding: 2%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

a {
    text-decoration: none; 
  }

footer a {
  color: $color-txt; 
  font-size: 1.3rem;
}  
  
 .container {
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
  margin-bottom: 7%;
}

.container1 {
  @include box-position;
}

.container2 {
  @include box-position;
}

.menu {
 width: 50%; 
 height: auto;
 font-size: 1rem;
 cursor: pointer;
 overflow: hidden; 
 padding: 5rem 1.3rem;
 margin: 0.9rem 0.9rem; 
 box-shadow: $color-shadow; 
}

.menu__txt { 
  width: 50%;
  height: auto;
  opacity: 0.2;
  filter: alpha(opacity=20);
 }
  
.menu :hover .menu__txt {
  transform: scale(1.4);
  transform-origin: center; 
  opacity: 0.1;
  filter: alpha(opacity=10);
 } 

@mixin gradientcolors {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.points {
    font-size: $form-size;
} 

.point--1 {
    animation: point1 $anim-dur backwards infinite ease-in-out alternate;
}

.point--2 {
    animation: point2 $anim-dur backwards infinite ease-in-out alternate;
 }

.point--3 {
    animation: point3 $anim-dur backwards infinite ease-in-out alternate;
}

@keyframes point1 {
  0% {
    opacity:1;
  }
  33% {
    opacity:0;    
  }  
}

@keyframes point2 {
 34% {
    opacity:1;
 }   
  65% {
    opacity:0;
 }  
}
  
@keyframes point3 {
  67% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}
  
.Prochainement {
  width: 20%;
  height: auto;
	background: $color-bann;
	color: $color-txt; 
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.85rem 0.7rem;
  border: none;
  border-radius: 1rem;
	margin: $form-size;
}
  
.footer__wiggle:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

hr {  
  @include box-position;
  align-content: center;
  justify-items: center;
}

.hr h2 {  
    color: inherit;
    background: linear-gradient(to top, #FDCB46 0%, #FDCB46 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .3s;
}

.hr h2:hover {	
	background-size: 100% 100%;
}	

.menupage {
  box-shadow: $color-shadow; 
  border-radius: $title-size;
  margin: 8%; 
}

.menucarte {
  text-align: justify;
  font-family: 'Bad Script', cursive;
  padding: 3.5%; 
}

.menu1page {
  color: $color-txt1;
  background: $color-menu1;
}

.menu2page {
  color: $color-txt1;
  background: $color-menu2;  
 }

.menu3page {
  background: $color-menu3;
 }

.menu4page {
  background: $color-menu4;
 }

.menupage__title {
  text-align: center;
}

.menu1page__title {
	font-family: 'Devonshire', cursive;
  font-size: $title-size;  
 }

.menu2page__title {
	font-family: 'Bree Serif', serif;
  font-size: $title-size;
  background: -webkit-linear-gradient(#C77412,#9861EF);
  @include gradientcolors;
  background: $color-menu2;
}

.menu3page__title {
	font-family: 'Dancing Script', cursive;
  font-size: $title-size;
  background: $color-menu3;
  }

.menu4page__title {
	font-family: 'Kaushan Script', cursive;
  font-size: $title-size;
  background: $color-menu4; 
}

li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.1rem;
}

.music svg {  
  width: $title-size;
  background: -o-linear-gradient(to bottom right,#C77412, #9861EF);
  background: -webkit-linear-gradient(to bottom right,#C77412, #9861EF);
  background: -moz-linear-gradient(to bottom right,#C77412, #9861EF);
  @include gradientcolors;
  background-color: $color-menu1;
}

header img {
  width: 20%;
  height: auto;
  float: center;
}

.selector-for-some-widget
{
	box-sizing: content-box;
}  

@media all and (max-width: 768px)
{
  
} 	
	