/*
Error: Invalid CSS after "line fill:": expected pseudoclass or pseudoelement, was " "none" stroke-..."
        on line 303 of P3style.scss

298:   height: auto;
299:   float: center;
300: }
301: 
302: .layerP1 {
303:   line fill: "none" stroke-width:"5" stroke-dasharray:"null" stroke-linejoin:"null" stroke-linecap:"null" x1:"2.5" y1:"2.5" x2:"17.5" y2:"2.5" id:"svg_2" stroke:"null" {
304:   line fill:"none" stroke-width:"5" stroke-dasharray:"null" stroke-linejoin:"null" stroke-linecap:"null" x1:"24.5" y1:"72.5" x2:"281.49998" y2:"64.5" id:"svg_5" stroke:"#3d1319" { 
305:   line fill:"none" stroke-width:"5" stroke-dasharray:"null" stroke-linejoin:"null" stroke-linecap:"null" x1:"29.49999" y1:"67.5" x2:"297.5" y2:"66.5" id:"svg_6" stroke:"#3d1319" {
306:   polyline fill:"none" stroke-width:"5" stroke-dasharray:"null" stroke-linejoin:"null" stroke-linecap:"round" opacity:"0.5" points:"32.5,46.5 " id:"svg_3" stroke:"#3d1319" {
307:   path fill:"none" stroke:"#3d1319" stroke-width:"2" stroke-dasharray:"null" stroke-linejoin:"null" stroke-linecap:"null" id="svg_21" d="m293.5,63.5c-1.70001,0 -2.60001,0 -3.5,0c-0.89999,0 -1.79999,0 -2.70132,0c-0.96533,0 -1.79868,0 -2.77716,0c-0.82019,0 -1.6575,0 -2.50552,0c-0.86331,0 -1.86932,-0.02133 -2.43198,-0.56799l-0.16803,-0.86401" {
308: } 			

Backtrace:
P3style.scss:303
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1097:in `ident!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/static_parser.rb:282:in `pseudo'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/static_parser.rb:163:in `simple_selector_sequence'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/static_parser.rb:115:in `selector'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/static_parser.rb:83:in `selector_comma_sequence'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1216:in `expr!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/static_parser.rb:20:in `parse_selector'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:434:in `visit_rule'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"line fill:\": expected pseudoclass or pseudoelement, was \" \"none\" stroke-...\"\A         on line 303 of P3style.scss\A \A 298:   height: auto;\A 299:   float: center;\A 300: }\A 301: \A 302: .layerP1 {\A 303:   line fill: \"none\" stroke-width:\"5\" stroke-dasharray:\"null\" stroke-linejoin:\"null\" stroke-linecap:\"null\" x1:\"2.5\" y1:\"2.5\" x2:\"17.5\" y2:\"2.5\" id:\"svg_2\" stroke:\"null\" {\A 304:   line fill:\"none\" stroke-width:\"5\" stroke-dasharray:\"null\" stroke-linejoin:\"null\" stroke-linecap:\"null\" x1:\"24.5\" y1:\"72.5\" x2:\"281.49998\" y2:\"64.5\" id:\"svg_5\" stroke:\"#3d1319\" { \A 305:   line fill:\"none\" stroke-width:\"5\" stroke-dasharray:\"null\" stroke-linejoin:\"null\" stroke-linecap:\"null\" x1:\"29.49999\" y1:\"67.5\" x2:\"297.5\" y2:\"66.5\" id:\"svg_6\" stroke:\"#3d1319\" {\A 306:   polyline fill:\"none\" stroke-width:\"5\" stroke-dasharray:\"null\" stroke-linejoin:\"null\" stroke-linecap:\"round\" opacity:\"0.5\" points:\"32.5,46.5 \" id:\"svg_3\" stroke:\"#3d1319\" {\A 307:   path fill:\"none\" stroke:\"#3d1319\" stroke-width:\"2\" stroke-dasharray:\"null\" stroke-linejoin:\"null\" stroke-linecap:\"null\" id=\"svg_21\" d=\"m293.5,63.5c-1.70001,0 -2.60001,0 -3.5,0c-0.89999,0 -1.79999,0 -2.70132,0c-0.96533,0 -1.79868,0 -2.77716,0c-0.82019,0 -1.6575,0 -2.50552,0c-0.86331,0 -1.86932,-0.02133 -2.43198,-0.56799l-0.16803,-0.86401\" {\A 308: } 			"; }
